body{
    background: url(bgg.jpg);
    position: cover;
}
input[type=button]{
    width: 300px;
    height: 35px;
    background-color: rgb(235, 123, 194);
    color:blue;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 508px;
  }
  input[type=button]:hover{
      color: brown;
  }
  .main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding:0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
}
.main-nav a{
    background: khaki;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color:blue;
    font-weight: bold;
    text-transform: uppercase;
    font-family:inherit;
    box-shadow: var(--shadow);
    border-radius: 10px;
}
.main-nav a:hover{
    background: rgb(243, 146, 27);
    color:blue;
}
h1{
    font-family: inherit;
    font-weight: bold;
    color:blueviolet;
    text-align: center;
    font-size: 40px;
border-radius: 20px 
}
.boxes{
    display: grid;
    grid-gap: 30px;
    padding: 1rem;
    grid-template-columns: repeat(3,1fr);
}
.box{
    background: cornflowerblue;
    text-align: center;
    padding: 1rem 1rem;
    box-shadow: var(--shadow);
    border-radius: 30px;
}
.box h1{
    text-align: center;
    color: purple;
    font-family: inherit;
}
.box p{
    text-align: center;
    color:red;
    font-weight: bold;
    font-size: 20px;
    font-family: inherit;
}